body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}





.content-banner{
    color: #ffffff;
    background-image: url(/assets/images/home/1.webp);
    min-height:775px;
    height: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding-top:125px ;
}

.content-banner:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-banner .first-title{
    font-size: 50px;
    font-weight: 450;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    margin: 0px 0px 12px;
}

.content-banner .banner-des{
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-top: 0;

}

.banner-btn{
    text-decoration: none;
    padding: 1px 40px;
    z-index: 1;
    margin: 30px auto 25px;
    line-height: 56px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 57px;
    height: 57px;
    font-size: 16px;
    background-color: #ffffff;
    display: inline-block;
    transition: 0.3;
    color: #053964;
    text-align: center;
}

.banner-btn:hover{
   color: black;
}

.header{
    position: relative;
    width: 100%;
}

.header-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.banner-con{
    margin-top: 10%;
    margin-left: 5%;
    
}

.nav-item .nav-link{
    display: block;
    line-height: 40px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    margin-right: 1.2rem;

}

.header-btn{
    border-radius: 30px;
    color: #053964;
    background-color: #fff;
    border: none;
    font-weight: 400;
    outline: none;
    font-size: 15px;
    
    align-items: center;
    padding: 7px 22px;
}

.navbar-scroll{
    background-color: #ffffff;
   padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
    
}

.navbar-scroll .nav-item .nav-link{
    color: black;

}
.navbar-scroll .header-btn{
    color: #ffffff;
    background: linear-gradient(0deg,#0a72c6 0,#084b81 100%);
}

.logo-scroll{
    background-image: url(/assets/images/Logo.png);
}

.abt_headline{
    font-size: 53px;
    font-family: Gilroy,sans-serif;
    font-weight: 700;
    margin-bottom: 17px;
}

.common_btn{
    border: 1px solid #fff;
    padding: 12px 41px;
    border-radius: 57px;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(0deg, #0A72C6 0%, #084B81 100%);
    color: #fff;
    text-decoration: none;
}

.border-top-cards::before, .borders::before {
    top: -1px;
    left: -1px;
}

.border-top-cards::after, .border-top-cards::before, .borders::after, .borders::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
}

.border-top-cards::after, .borders::after {
    bottom: -1px;
    left: -1px;
}

section.service {
    margin-top: 85px;
}

.border-top-cards::after, .border-top-cards::before, .borders::after, .borders::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
}

.service_card p {
    line-height: 1.2;
    font-size: 16px!important;
    margin-top: 11px;
    color: #606060 !important;
    font-size: 16px !important;
    line-height: 1.7;
}

section.about {
    margin-top: 58px;
}

section.service {
    margin-top: 85px;
}

.caption, section.odoo_partner:after {
    top: 50%;
    transform: translateY(-50%);
}

.caption h1 {
    font-family: Gilroy,sans-serif;
    font-weight: 500;
    font-size: 58px;
    color: #fff;
    line-height: 1.3;
    text-align: left;
}
.caption a{
    text-decoration: none;
}

.home_banner {
    background: linear-gradient(0deg,#1b82d5 0,#55a4e2 100%);
    height: auto;
    position: relative;
    z-index: 0;
}

.carousel{
    height: 100%;
}

.capt-img{
    height: 100vh;
}

button.common_btn.bnr_btn {
    background: #fff;
    color: #053964;
    margin-right: auto!important;
    display: block;
    margin-top: 25px!important;
}

.borders {
    border-bottom: 1px solid #d3d3d3!important;
}

.border-top-cards, .borders {
    border-left: 1px solid #d3d3d3!important;
    position: relative;
}

.service_card {
    padding: 60px 44px;
    border: none;
    border-radius: 0;
    position: relative;
    height: 100%;
    
}



.card-hover-text {
    position: absolute;
    right: 1px;
    font-size: 196px!important;
    top: -52px;
    color: #ffffff2b;
    z-index: 0;
    font-weight: 700;
    font-family: Poppins,sans-serif;
}



.work-experience-main-container {
    width: 70%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.work-experience-col-1 {
    max-width: 35%;
}

p.work-experience-text {
    font-size: 1.5626vw;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
}

.work-countries-col, .work-ecom-expert-col {
    border-bottom: 2px solid #e0dfdf63;
    padding: 5%;
}

h4.work-service-value {
    font-size: 3.0833vw;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #08518b;
}

h3.work-experience-value {
    font-size: 10.416vw;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #08518b;
}

p.work-service-text {
    font-size: 1.145vw;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
}


.work-countries-col, .work-ecom-expert-col {
    border-bottom: 2px solid #e0dfdf63;
    padding: 5%;
}

.work-ERP-col, .work-project-col {
    padding: 5%;
}

.work-ecom-expert-col, .work-project-col {
    border-right: 2px solid #e0dfdf63;
}



.odoo_partner {
    margin-top: 130px;
    position: relative;
    padding: 78px 0;
    overflow: hidden;
}


.odoo_background {
    padding: 92px;
}



.odoo_partner_elements {
    position: relative;
}

.dashboard_element {
    position: relative;
    top: 136px;
    right: -128px;
    z-index: 10;
    width: 100%;
}

.odoo_background h2 {
    margin-top: 21px;
    font-size: 42px;
}

.card.form_card h2, .odoo_background h2, section.technaureus_recognized h2 {
    font-family: Gilroy,sans-serif;
    font-weight: 700;
}

.odoo_background h2 span {
    color: #714b67;
}

.odoo_p{
    color: #606060 !important;
    font-size: 16px !important;
    line-height: 1.7;
}

.products p {
    max-width: 80%;
    margin: auto auto 30px;
}

.products_card {
    border: none;
    padding: 28px;
    background: #fff;
    border-radius: 36px;
    box-shadow: 0 0 20px 0 #00000021;
    width: 100%;
    height: 100%;
}


.products {
    margin-top: 150px;
    position: relative;
}

img.product_element_1 {
    position: absolute;
    top: -63px;
    left: 146px;
    width: 80px;
    -webkit-animation: 1s infinite alternate mover;
    animation: 1s infinite alternate mover;
}

img.product_element_2 {
    position: absolute;
    right: 103px;
    top: 90px;
    width: 47px;
    -webkit-animation: 1s infinite alternate mover;
    animation: 1s infinite alternate mover;
}




.client_card {
    border: 1px solid #bebebe;
    padding: 41px 29px;
    background: #fff;
    border-radius: 12px;
    margin-top: 17px;
    width: 100%;
}



.card.form_card {
    padding: 65px;
    border: none;
    border-radius: 36px;
    box-shadow: 0 0 25px 0 #00000021;
}

.card.form_card h2 {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.card.form_card input {
    padding: 9px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #d7d7d7;
    margin-top: 20px;
    width: 90%;
}

.input-label {
    display: block;
    position: relative;
}

.placeholder-text {
    position: absolute;
    left: -2px;
    top: 30px;
    padding: 0 4px;
    color: #848484;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transform-origin: top left;
    transition: .25s ease;
}

button.more_dtls.form_btn {
    margin-top: 32px;
    padding: 12px 34px;
    font-size: 19px;
}

section.form {
    margin-top: 130px;
}

.card.form_card {
    padding: 65px;
    border: none;
    border-radius: 36px;
    box-shadow: 0 0 25px 0 #00000021;
}

.card.form_card h2 {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.card.form_card input {
    padding: 9px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #d7d7d7;
    margin-top: 20px;
    width: 90%;
}

.input-label {
    display: block;
    position: relative;
}

.placeholder-text {
    position: absolute;
    left: -2px;
    top: 30px;
    padding: 0 4px;
    color: #848484;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transform-origin: top left;
    transition: .25s ease;
}

button.more_dtls.form_btn {
    margin-top: 32px;
    padding: 12px 34px;
    font-size: 19px;
}

section.form .border-left {
    border-left: 1px solid #707070 !important;
}

.form_btns {
    margin-top: 53px;
}

button.whats_app.form_wtz {
    padding: 12px 20px;
}

button.whats_app span {
    display: flex;
    align-items: center;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}
button.whats_app span svg {
    font-size: 26px;
    margin-right: 7px;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

button.whats_app span p {
    margin: 0;
    color: #fff !important;
    font-size: 13px !important;
    line-height: 1.7;
}

button.call_us {
    border: 1px solid #fff;
    border-radius: 57px;
    font-weight: 500;
    font-size: 19px;
    background: linear-gradient(0deg, #0A72C6 0%, #084B81 100%);
    color: #fff;
    margin-left: 16px;
}

button.call_us.form_call {
    padding: 12px 20px;
}

button.call_us span {
    display: flex;
    align-items: center;
}


button.call_us span p {
    margin: 0;
    color: #fff !important;
    font-size: 13px !important;
}

.form_contact {
    margin-top: 25px;
}

.form_contact_mail a {
    display: flex;
    justify-content: end;
    align-items: center;
}

.form_contact img {
    margin-right: 25px;
}

.form_contact h6 {
    font-size: 19px;
    font-weight: 600;
    margin-top: 6px;
    color: #000;
}

.phone_form h6 {
    line-height: 1.7;
    margin-top: 0;
    color: #000;
}

.phone_form h6 a {
    color: #000;
    text-decoration: none;
}

.form_contact.phone_form {
    margin-top: 25px;
}

.form_contact {
    margin-top: 25px;
}

.form_social img {
    margin-left: 14px;
    margin-top: 7px;
    transition-duration: .3s;
    transition-property: transform;
}

.form_contact_mail a{
    text-decoration: none;
}


section.testimonial {
    margin: 248px 0 130px;
    position: relative;
    max-width: 100%;
    padding: 50px 0;
   
    overflow: hidden;
}


.testimonial .testi-img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius:50% ;
}



.testimonial h2{
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    
}

section.testimonial p {
    max-width: 65%;
    margin: auto;
    padding: 0 160px;
    text-align: center;
    overflow: hidden;
}

.testi-details h4 {
    margin-top: 24px;
    color: #4D81C5;
    font-weight: 600;
    font-size: 21px;
}

.testi-details h6 {
    color: #7c8186;
    font-size: 19px;
    margin-top: 7px;
    font-weight: 600;
}

.slide .testi-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.testimonial .swiper-button-prev.swiper-arrow-prev-btn {
    right: 0;
    top: 50%;
    z-index: 10;
    color: #000 !important;
    font-weight: 600;
}

section.testimonial .swiper-button-next.swiper-arrow-next-btn {
    
    top: 50%;
    z-index: 10;
    color: #858585 !important;
    font-weight: 600;
}

.swipper-btn{
    border-radius: 50%;
    transform: translateY(30px);
    transition: 0.2s;
}

.swipper-btn::after,
.swipper-btn::before{
    font-size: 20px;
}

img.testi_ele_1 {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.testi_ele_1 {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    width: 82px;
}
img.testi_ele_1 {
    position: absolute;
    right: 25%;
    top: -115px;
}

img.testi_ele_2 {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    width: 82px;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.testi_ele_2 {
    position: absolute;
    top: 28%;
    left: 11%;
}




footer {
    margin-bottom: 38px;
    position: relative;
    margin-top: 90px;
    
}


.footer {
    border-color: #707070 !important;
    padding: 31px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none !important;
}


footer ul li {
    line-height: 2.5;
    color: #858585 !important;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none !important;
}

footer ul li a{
    text-decoration: none;
}

footer h6 {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-top: 42px;
    margin-bottom: 22px;

    
}

img.ftr_element {
    position: absolute;
    right: 99px;
    top: 96px;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
    width: 82px;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.company {
    margin-top: 10px;
}

.company p {
    font-size: 16px !important;
    padding-left: 13px;
}

.company p a {
    color: #606060;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}


.svg-inline--fa.fa-w-12 {
    width: 0.75em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}


.form_btns {
    margin-top: 53px;
}

.form_contact {
    margin-top: 25px;
}




@media only screen and(min-width:1200px) {
    .nav-item >  .nav-link{
        padding: 5px 20px!important;
        display: block;
    }
}

@media only screen and(max-width:992px) {
    .header-inner{
        background-color: white!important;
    }
    .nav-item >  .nav-link{
        color: black !important;
        .navbar-brand{
            color: #000;
            font-weight: 600;
        }
        .content-banner .first-title{
            font-size: 30px !important;
        }
    }
}


@media screen and  (max-width: 768px){
    .swipper-btn{
        display: none;
    }

    section.testimonial p{
        padding: 0 20px;
    }
    .capt-img{
    height: 50vh;
}
}

@media screen and  (max-width: 414px){
    .swipper-btn{
        display: none;
    }

    section.testimonial p{
        padding: 0 20px;
    }
    .capt-img{
    height: 25vh;
}
}