body{
    font-family: 'Montserrat' sans-serif;
    text-decoration: none;

}

@media only screen and(min-width:1200px) {
    .nav-item >  .nav-link{
        padding: 5px 20px!important;
        display: block;
    }
}

@media only screen and(max-width:992px) {
    .header-inner{
        background-color: white!important;
    }
    .nav-item >  .nav-link{
        color: black !important;
        .logo{
            color: #000;
            font-weight: 600;
        }
        .content-banner .first-title{
            font-size: 30px !important;
        }
    }
}

.content-banner{
    color: #ffffff;
    background-image: url(/assets/images/home/1.png);
    min-height:775px;
    height: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding-top:125px ;
}

.content-banner:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-banner .first-title{
    font-size: 50px;
    font-weight: 450;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    margin: 0px 0px 12px;
}

.content-banner .banner-des{
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-top: 0;

}

.banner-btn{
    text-decoration: none;
    padding: 1px 40px;
    z-index: 1;
    margin: 30px auto 25px;
    line-height: 56px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 57px;
    height: 57px;
    font-size: 16px;
    background-color: #ffffff;
    display: inline-block;
    transition: 0.3;
    color: #053964;
    text-align: center;
}

.banner-btn:hover{
   color: black;
}

.header{
    position: relative;
    width: 100%;
}

.header-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.banner-con{
    margin-top: 10%;
    margin-left: 5%;
    
}

.nav-item .nav-link{
    display: block;
    line-height: 40px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    margin-right: 1.2rem;

}

.header-btn{
    border-radius: 30px;
    color: #053964;
    background-color: #fff;
    border: none;
    font-weight: 400;
    outline: none;
    font-size: 15px;
    
    align-items: center;
    padding: 7px 22px;
}

.navbar-scroll{
    background-color: #ffffff;
   padding: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
    
}

.navbar-scroll .nav-item .nav-link{
    color: black;

}
.navbar-scroll .header-btn{
    color: #ffffff;
    background: linear-gradient(0deg,#0a72c6 0,#084b81 100%);
}

.logo-scroll{
    background-image: url(/assets/images/Logo.png);
}

.abt_headline{
    font-size: 53px;
    font-family: Gilroy,sans-serif;
    font-weight: 700;
    margin-bottom: 17px;
}

.common_btn{
    border: 1px solid #fff;
    padding: 12px 41px;
    border-radius: 57px;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(0deg, #0A72C6 0%, #084B81 100%);
    color: #fff;
    text-decoration: none;
}

section{
    background-color: white;
    padding: 4rem 0rem 4rem;
}

.borders {
    border-bottom: 1px solid #d3d3d3!important;
}

.border-top-cards, .borders {
    border-left: 1px solid #d3d3d3!important;
    position: relative;
}

.service_card {
    padding: 60px 44px;
    border: none;
    border-radius: 0;
    position: relative;
    height: 100%;
    
}

a {
    text-decoration: none;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.card-hover-text {
    position: absolute;
    right: 1px;
    font-size: 196px!important;
    top: -52px;
    color: #ffffff2b;
    z-index: 0;
    font-weight: 700;
    font-family: Poppins,sans-serif;
}